# myexporter.service
[Unit]
Description=My channel exporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/lib/my_exporter
EnvironmentFile=/var/lib/my_exporter/.env
ExecStart=/var/lib/my_exporter/my_exporter

[Install]
WantedBy=multi-user.target
